{% extends "base.html" %}
{% load static %}



{% block content %}

<div class=" container-fluid hero-background position-relative">
  <div class="container col-xxl-8 px-4 py-5 text-color-light">
    <div class="row flex-lg-row align-items-center g-5 py-5">
     
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 font-gamja">Help me to clear out my shed!</h1>
        <p class="lead"> I am donating all of the items in my shed to anybody that wants them! <br> Seriously , you will be doing me a favor!<br> Choose the items that you are interested in , choose a time for collection , and we will make sure that they are waiting for you ! </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn bg-light-green btn-lg px-4 me-md-2">Pick something out</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}