/* Fonts for the project */ 

body {
  font-family: 'Roboto', sans-serif;
}

.font-gamja {
  font-family: 'Gamja Flower', sans-serif;
}

.large-font {
  font-size:30px;
}

/* end fonts */ 

.background-dark-green {
    background-color: #016A70;
}

/* positioning of the footer and the containers in the base template so that the footer stays where it is supposed to */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem
}

#footer {
   
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

/*  end of positioning */ 

.background-pea-green {
    background-color: #A2C579;
}

.text-color-light {
    color: #FFFFDD;
}


/* The hero image */

  .bg-light-green {
    background-color: #D2DE32;
  }

  .hero-background {
    height: 90vh;
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2019/06/02/20/46/house-4247472_1280.jpg");
    
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

